extends:
  - standard-with-typescript
rules:
  '@typescript-eslint/semi': off
  semi: off
  comma-dangle: off
  object-curly-spacing: off
  '@typescript-eslint/space-before-function-paren': off
  space-before-function-paren: off
  '@typescript-eslint/member-delimiter-style': off
  '@typescript-eslint/indent': off
  '@typescript-eslint/array-type': off
parserOptions:
  project: ./tsconfig.json